#!/usr/bin/env python
PACKAGE = "person_follower"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# 0 means use defaults
gen.add("log_time",       bool_t, 0,   "Log time in image callback", False)
gen.add("log_embed_time", bool_t, 0,   "Log time used for embedding detected people", False)
gen.add("timeout",        double_t, 1, "Timeout (ms) for embedding server", 100.0, min=0.0, max=1000.0)

exit(gen.generate(PACKAGE, "person_follower", "Control"))