#!/usr/bin/env python
PACKAGE = "person_follower"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# 0 means use defaults
gen.add("log_model_time", bool_t, 0, "Log time used by MediaPipe model", False)

# Just keep them low - doing "manual" selection afterwards anyways
gen.add("palm_iou",  double_t, 1, "IoU threshold for NMS of palm detector", 0.3, min=0.1, max=1.0)
gen.add("palm_conf", double_t, 1, "Confidence threshold of palm detector",  0.3, min=0.1, max=1.0)

gen.add("hand_conf", double_t, 2, "Confidence threshold of a hand pose", 0.35,    min=0.1, max=1.0)

gen.add("wrist_dist", double_t, 4, "Max pose-hand detector wrist misalignment", 20, min=0, max=192)

gen.add("project_points", bool_t, 8, "Project each landmark when hand has good alignment", False)

exit(gen.generate(PACKAGE, "person_follower", "HandEstimate"))