#!/usr/bin/env python
PACKAGE = "person_follower"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# 0 means use defaults
gen.add("log_model_time", bool_t, 0, "Log time used by YOLO model", False)

gen.add("keypoint_conf", double_t, 1, "Confidence threshold for a visible keypoint", 0.6, min=0.1, max=1.0)

gen.add("detect_iou",  double_t, 2, "IoU threshold for NMS",   0.6, min=0.1, max=1.0)
gen.add("detect_conf", double_t, 2, "Confidence of detection", 0.6, min=0.1, max=1.0)

# High IoU becomes an issue when person comes right in front of camera - rapid change of bounding box
gen.add("track_iou",      double_t, 4, "IoU threshold for NMS used by SORT algorithm",     0.35, min=0.1, max=1.0)
gen.add("track_min_hits", int_t, 4, "Minimum hits before tracking a pose",                 4,    min=1,   max=10)
gen.add("track_max_age",  int_t, 4, "Max misses before instance is dropped from tracking", 8,    min=1,   max=10)

exit(gen.generate(PACKAGE, "person_follower", "PoseEstimate"))