<launch>
    <arg name="config_file" default="$(find person_follower)/launch/defaults.yaml"/>

    <node pkg="person_follower" type="core_node" name="core_node" output="screen">
        <rosparam file="$(arg config_file)" command="load"/>
    </node>

    <node pkg="person_follower" type="gestures.py" name="gestures" output="screen">
        <rosparam file="$(arg config_file)" command="load"/>
    </node>

    <node pkg="person_follower" type="control.py" name="control" output="screen">
        <rosparam file="$(arg config_file)" command="load"/>
    </node>

    <node pkg="person_follower" type="reid_server" name="reid_server" output="screen">
        <rosparam file="$(arg config_file)" command="load"/>
    </node>

</launch>